<div class="card">
                <h3>Aluno</h3>
                <div class="card-body">
                    <h5 class="card-title">Samuel Amate</h5>
                    <img src="/assets/samuel.jpg" class="card-img-top"  style="width: 100px; height:100px"  alt="">
                </div>
    </div>
<hr>
    <div class="card">
                <h3>Aluno</h3>
                <div class="card-body">
                    <h5 class="card-title">Thomas Adrian</h5>
                    <img src="/assets/Thomas.jpg" class="card-img-top"  style="width: 100px; height:100px"  alt="">
                </div>