<div class="card shadow-sm">
  <div class="card-body">
    <h1 class="h4 mb-3">Novo Curso</h1>
    <form action="/cursos/create" method="POST">
      <div class="form-group">
        <label for="curso">Curso</label>
        <input type="text" name="curso" id="curso" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    </form>
  </div>
</div>