<div class="card shadow-sm">
    <div class="card-body">
      <h1 class="h4 mb-3">Editar cursos</h1>
      <form action="/cursos/<%= id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input 
            type="text" 
            name="nome" 
            id="nome" 
            class="form-control" 
            value="<%= cursos.nome %>" 
            required
          >
        </div>
  
        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
      </form>

      <form action="/cursos/<%= id %>?_method=DELETE" method="POST" class="mt-3">
        <button type="submit" class="btn btn-danger">Deletar</button>
      </form>
    </div>
  </div>